$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Seymour One', sans-serif;
/* text colors */
$accent-cl: #f8d24e;
$main-txt-cl: #131313;
$secondary-txt-cl: #fcfcfc;

/* background colors */
$main-bg-cl: #84a178;

/* animations */
$slow-anim: 700ms ease;
$fast-anim: 400ms ease-in-out;

// breakpoints
$mobile: 480px;
$tablet: 480px;
$desktop: 1200px;
