<section class="contacts" id="contacts">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="container contacts-container">
    <ul class="contacts__list list">
      <li class="contacts__item">
        <h4 class="contacts__item-title">CAFE</h4>
        <div class="contacts__item-address">
          <p>Chicago</p>
          <span>10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</span>
        </div>
        <div class="timetable">
          <p>Monday - Friday</p>
          <span>06:00 AM - 10:00 PM</span>
          <p>Saturday - Sunday</p>
          <span>08:00 AM - 16:00 PM</span>
        </div>
        <div class="contact-data">
          <a class="link contact-data-link" href="tel:+380961111111"
            >+61(0) 383 766 284</a
          >
          <a class="link contact-data-link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <h4 class="contacts__item-title">FOOD TRUCK</h4>
        <div class="contacts__item-address">
          <p>Los Angeles</p>
          <span> 1003 Manhattan Ave, Manhattan Beach, CA 90263, USA </span>
        </div>
        <div class="timetable">
          <p>Monday - Friday</p>
          <span>06:00 AM - 10:00 PM</span>
          <p>Saturday - Sunday</p>
          <span>08:00 AM - 16:00 PM</span>
        </div>
        <div class="contact-data">
          <a class="link contact-data-link" href="tel:+380961111111"
            >+61(0) 383 766 284</a
          >
          <a class="link contact-data-link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <h4 class="contacts__item-title">CAFE</h4>
        <div class="contacts__item-address">
          <p>New York</p>
          <span>726 Sterling Pl, Brooklyn, NY 11222, USA</span>
        </div>
        <div class="timetable">
          <p>Monday - Friday</p>
          <span>06:00 AM - 10:00 PM</span>
          <p>Saturday - Sunday</p>
          <span>08:00 AM - 16:00 PM</span>
        </div>
        <div class="contact-data">
          <a class="link contact-data-link" href="tel:+380961111111"
            >+61(0) 383 766 284</a
          >
          <a class="link contact-data-link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>

    <div class="contacts__buttons">
      <button class="button js-open-modal" type="button" data-modal="location">
        Our Locations
        <svg width="12" height="12">
          <use href="images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button
        class="franchise_btn button js-open-modal"
        type="button"
        data-modal="franchise"
      >
        Franchise
        <svg width="12" height="12">
          <use href="images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
