<header class="header">
  <div class="header-container container">
    <a class="header__logo link" href="#home">
      <svg class="icon">
        <use href="assets/images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="nav__list list">
        <li class="nav__list-item">
          <a data-goto="#home" href="#" class="nav-link link">Home</a>
        </li>
        <li class="nav__list-item">
          <a data-goto="#about" href="#" class="nav-link link"
            >How it’s made?</a
          >
        </li>
        <li class="nav__list-item">
          <a data-goto="#products" href="#" class="nav-link link"
            >Our products</a
          >
        </li>
        <li class="nav__list-item">
          <a data-goto="#contacts" href="#" class="nav-link link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header-btn-wrapper">
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="32" height="32">
          <use href="assets/images/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <button
        class="header__btn button js-open-modal"
        data-modal="Buy-now"
        type="button"
      >
        <span class="header__btn-text">Buy now</span>
        <svg class="header__btn-icon" width="12" height="12">
          <use href="assets/images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
