<section class="hero" id="home">
  <div class="hero-container container">
    <h1 class="hero__title title">ice cream made with <span>passion</span></h1>
    <div class="link-wrapper">
      <a class="button hero__button" href="#products"> Products </a>
      <a class="hero-link link" href="#about">How it’s made?</a>
    </div>
    <div class="img-wrapper">
      <img
        class="hero-image"
        src="assets/images/ice-creams.png"
        alt="ice-creams"
        width="225"
      />
      <div>
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <svg class="icon" width="40" height="16">
          <use href="assets/images/sprite.svg#icon-Arrow"></use>
        </svg>
      </div>
    </div>
    <ul class="hero__list list">
      <li class="hero__list-item">
        <p class="hero__list-number">16</p>
        <p class="hero__list-text">cafes</p>
      </li>
      <li>
        <p class="hero__list-number">23</p>
        <p class="hero__list-text">food trucks</p>
      </li>
    </ul>
  </div>
</section>
