<section class="hero" id="home">
  <div class="hero-container container">
    <h1 class="hero__title title">ice cream made with <span>passion</span></h1>
    <div class="link-wrapper">
      <a class="button hero__button" href="#products"> Products </a>
      <a class="hero-link link" href="#about">How it’s made?</a>
    </div>
    <div class="img-wrapper">
      <img
        class="hero-image"
        srcset="
          ./assets/images/hero/plate-hero_152.png 152w,
          ./assets/images/hero/plate-hero_225.png 225w,
          ./assets/images/hero/plate-hero_304.png 304w,
          ./assets/images/hero/plate-hero_450.png 450w
        "
        sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, 100vw"
        src="./assets/images/hero/plate-hero_152.png"
        loading="lazy"
        alt="ice-creams"
        width="152"
      />
      <div>
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <svg class="icon" width="40" height="16">
          <use href="assets/images/sprite.svg#icon-Arrow"></use>
        </svg>
      </div>
    </div>
    <ul class="hero__list list">
      <li class="hero__list-item">
        <p class="hero__list-number">16</p>
        <p class="hero__list-text">cafes</p>
      </li>
      <li>
        <p class="hero__list-number">23</p>
        <p class="hero__list-text">food trucks</p>
      </li>
    </ul>
  </div>
</section>
