<section class="products" id="products">
  <div class="products-container container">
    <h3 class="subtitle">100% natural</h3>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="product__item">
        <div class="layout ice-cream-layout">
          <img
            srcset="
              assets/images/products/ice-cream_200.png 200w,
              assets/images/products/ice-cream_400.png 400w,
              assets/images/products/ice-cream_302.png 302w,
              assets/images/products/ice-cream_604.png 604w
            "
            sizes="(min-width: 1200px) 302px, (min-width: 768px) 200px, (min-width: 320px) 200px, 100vw"
            src="assets/images/products/ice-cream_200.png"
            alt="ice cream"
            loading="lazy"
            width="200"
          />
        </div>
        <h4>ice cream</h4>
        <p>
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          class="product__arrow-button js-open-modal"
          data-modal="Product"
        >
          <svg class="icon" width="40" height="16">
            <use href="assets/images/sprite.svg#icon-Arrow"></use>
          </svg>
        </button>
      </li>
      <li class="product__item">
        <div class="layout ice-coffee-layout">
          <img
            srcset="
              ./assets/images/products/ice-coffee_200.png 200w,
              ./assets/images/products/ice-coffee_400.png 400w,
              ./assets/images/products/ice-coffee_302.png 302w,
              ./assets/images/products/ice-coffee_604.png 604w
            "
            sizes="(min-width: 1200px) 302px, (min-width: 768px) 200px, (min-width: 320px) 200px, 100vw"
            src="./assets/images/products/ice-coffee_200.png"
            alt="ice coffee"
            loading="lazy"
            width="200"
          />
        </div>
        <h4>ice coffee</h4>
        <p>
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          class="product__arrow-button js-open-modal"
          data-modal="Product"
        >
          <svg class="icon" width="40" height="16">
            <use href="assets/images/sprite.svg#icon-Arrow"></use>
          </svg>
        </button>
      </li>
      <li class="product__item">
        <div class="layout milkshakes-layout">
          <img
            srcset="
              ./assets/images/products/milkshakes_200.png 200w,
              ./assets/images/products/milkshakes_400.png 400w,
              ./assets/images/products/milkshakes_302.png 302w,
              ./assets/images/products/milkshakes_604.png 604w
            "
            sizes="(min-width: 1200px) 302px, (min-width: 768px) 200px, (min-width: 320px) 200px, 100vw"
            src="./assets/images/products/milkshakes_200.png"
            alt="milkshakes"
            loading="lazy"
            width="200"
          />
        </div>
        <h4>milkshakes</h4>
        <p>
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          class="product__arrow-button js-open-modal"
          data-modal="Product"
        >
          <svg class="icon" width="40" height="16">
            <use href="assets/images/sprite.svg#icon-Arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
