<section class="products" id="products">
  <div class="products-container container">
    <h3 class="subtitle">100% natural</h3>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="product__item">
        <div class="layout ice-cream-layout">
          <img src="images/kelsey-curtis.png" alt="ice cream" width="302" />
        </div>
        <h4>ice cream</h4>
        <p>
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <svg class="icon" width="40" height="16">
          <use href="images/sprite.svg#icon-Arrow"></use>
        </svg>
      </li>
      <li class="product__item">
        <div class="layout ice-coffee-layout">
          <img src="images/pariwat-pannium.png" alt="ice coffee" width="302" />
        </div>
        <h4>ice coffee</h4>
        <p>
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <svg class="icon" width="40" height="16">
          <use href="images/sprite.svg#icon-Arrow"></use>
        </svg>
      </li>
      <li class="product__item">
        <div class="layout milkshakes-layout">
          <img src="images/victor-rutka.png" alt="milkshakes" width="302" />
        </div>
        <h4>milkshakes</h4>
        <p>
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <svg class="icon" width="40" height="16">
          <use href="images/sprite.svg#icon-Arrow"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
