<section class="rewiews">
  <div class="container rewiews-container">
    <h2 class="visually-hidden">products</h2>
    <div class="carousel">
      <div class="carousel__item">
        <img
          class="rewiews__img"
          srcset="
            ./assets/images/slider/slide-1@1x.jpg 1x,
            ./assets/images/slider/slide-1@2x.jpg 2x
          "
          src="./assets/images/slider/slide-1@1x.jpg"
          loading="lazy"
          alt="ice-cream"
          width="1013"
        />
        <img
          class="user-img"
          srcset="
            ./assets/images/slider/img-1@1x.jpg 1x,
            ./assets/images/slider/img-1@2x.jpg 2x
          "
          src="assets/images/slider/img-1@1x.jpg"
          loading="lazy"
          alt="Emily"
          width="85"
        />
        <div class="carousel__text-wrapper">
          <p class="carousel__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <p class="carousel__name">Emily, Los Angeles</p>
      </div>
      <div class="carousel__item">
        <img
          class="rewiews__img"
          srcset="
            ./assets/images/slider/slide-2@1x.jpg 1x,
            ./assets/images/slider/slide-2@2x.jpg 2x
          "
          src="./assets/images/slider/slide-2@1x.jpg"
          loading="lazy"
          alt="ice-cream"
          width="1013"
        />
        <img
          class="user-img"
          srcset="
            ./assets/images/slider/img-2@1x.jpg 1x,
            ./assets/images/slider/img-2@2x.jpg 2x
          "
          src="assets/images/slider/img-2@1x.jpg"
          loading="lazy"
          alt="Bryan"
          width="85"
        />
        <div class="carousel__text-wrapper">
          <p class="carousel__text">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
        </div>
        <p class="carousel__name">Bryan, New-York</p>
      </div>
      <div class="carousel__item">
        <img
          class="rewiews__img"
          srcset="
            ./assets/images/slider/slide-3@1x.jpg 1x,
            ./assets/images/slider/slide-3@2x.jpg 2x
          "
          src="./assets/images/slider/slide-3@1x.jpg"
          loading="lazy"
          alt="ice-cream"
          width="1013"
        />
        <img
          class="user-img"
          srcset="
            ./assets/images/slider/img-3@1x.jpg 1x,
            ./assets/images/slider/img-3@2x.jpg 2x
          "
          src="assets/images/slider/img-3@1x.jpg"
          loading="lazy"
          alt="Diana"
          width="85"
        />
        <div class="carousel__text-wrapper">
          <p class="carousel__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
        </div>
        <p class="carousel__name">Diana, Chicago</p>
      </div>
    </div>
  </div>
</section>
