.contacts {
  background-color: $main-bg-cl;
}
.contacts-container {
  position: relative;
  padding-top: 474px;
  padding-bottom: 60px;
}
.contacts__list {
  position: absolute;
  display: flex;
  gap: 32px;

  top: -128px;
  right: 16px;
  left: 16px;

  .contacts__item {
    padding: 40px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
    flex-basis: calc((100% - 64px) / 3);

    &-title {
      display: inline-block;
      font-weight: 500;
      line-height: 140%; /* 22.4px */
      letter-spacing: 0.64px;
      border-radius: 6px;
      padding: 4px 14px;
      background: #f8d24e;
      margin-bottom: 32px;
    }
    &-address {
      p {
        font-weight: 500;
        line-height: 186%; /* 29.76px */
        letter-spacing: 0.64px;
      }
      span {
        display: inline-block;
        color: #d6936d;
        font-weight: 500;
        line-height: 183%; /* 29.28px */
        letter-spacing: 0.64px;
        margin-bottom: 32px;
      }
    }
    .timetable {
      font-weight: 500;
      line-height: 186%; /* 29.76px */
      padding-top: 32px;
      padding-bottom: 32px;
      border-top: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;
      margin-bottom: 32px;
      p {
        letter-spacing: 0.64px;
      }

      span {
        color: #ababab;
      }
    }
    .contact-data-link {
      font-weight: 500;
      line-height: 150%; /* 24px */
    }
  }
}
.contacts__buttons {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 16px;
}

.contacts .button {
  padding: 12px 40px;
}
.contacts .franchise_btn {
  background-color: transparent;
  line-height: 18px;
  padding: 12px 55px;
  border: $accent-cl solid 2px;

  &:hover {
    border-color: #0a8817;
  }
  &:focus {
    border-color: #0a8817;
    color: $secondary-txt-cl;
  }
  &:disabled {
    border-color: #ababab;
  }
}
