.franchise-modal {
  max-width: 568px;
  padding: 32px 60px;

  .modal-title {
    width: 322px;
    margin: 0 auto;
  }
  .franchise-text {
    width: 448px;
    line-height: 140%;

    margin-top: 24px;
    margin-bottom: 32px;
  }
}
