.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $main-bg-cl;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
  }
  nav,
  .header__btn,
  .nav__list {
    display: none;
  }

  &__logo svg {
    width: 40px;
    height: 37px;
    fill: $accent-cl;
  }
  .nav-link {
    transition: color $slow-anim;
    &:hover {
      color: $accent-cl;
    }
  }

  @media (min-width: $tablet) {
    &-container {
      padding-top: 20px;
    }
    &__logo svg {
      width: 48px;
      height: 44px;
    }
    .header-btn-wrapper {
      display: flex;
      align-items: center;
      gap: 32px;
    }
    .header__btn {
      display: flex;
    }
  }

  @media (min-width: $desktop) {
    &__logo svg {
      width: 60px;
      height: 65px;
    }
    nav {
      display: block;
      margin-top: 32px;
      margin-bottom: 13px;

      color: $secondary-txt-cl;
      font-weight: 700;
      line-height: normal;
    }
    .nav__list {
      display: flex;
      gap: 28px;
    }
    .header__btn {
      margin-top: 20px;
    }
  }
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  fill: $secondary-txt-cl;
  transition: fill $fast-anim;

  &:hover,
  &:focus {
    fill: $accent-cl;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}
