.hero {
  background-color: $main-bg-cl;
}
.hero-container {
  position: relative;
  padding-top: 45px;
  background-image: url('images/ice-faces.png'), url('images/dots-hero.png');
  background-repeat: no-repeat;
  background-position:
    right 92px bottom,
    center bottom;
  background-size: auto, contain;
}
.link-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 42px;
}
.hero-container .hero__button {
  background-color: transparent;
  line-height: 18px;
  padding: 12px 34px;
  border: $accent-cl solid 2px;

  &:hover {
    border-color: #0a8817;
  }
  &:focus {
    border-color: #0a8817;
    color: $secondary-txt-cl;
  }
  &:disabled {
    border-color: #ababab;
  }
}

.hero-link {
  color: $accent-cl;
  text-align: center;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  padding: 11px 22px;

  &:hover {
    color: #0a8817;
  }
  &:focus {
    color: $secondary-txt-cl;
  }
  &:disabled {
    border-color: #ababab;
  }
}
.img-wrapper {
  display: flex;
  align-items: center;
}

.hero-image {
  margin-right: 16px;
  margin-bottom: 65px;
}
.hero__text {
  color: $secondary-txt-cl;
  font-size: 14px;
  line-height: 140%;
  max-width: 200px;
  margin-bottom: 24px;
}
.text-wrapper svg {
  fill: $secondary-txt-cl;
}
.hero__list {
  position: absolute;
  top: 56px;
  right: 16px;
}

// .hero__list-item {
// }
.hero__list-number {
  text-align: right;
  font-size: 46px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.84px;
  text-transform: uppercase;
}
.hero__list-text {
  text-align: right;
}
