// ======== Mobile screen ========= //
.read_more-modal {
  max-width: 280px;
  padding: 28px;

  .video {
    max-width: 224px;
    max-height: 199px;
    margin-top: 20px;
    border-radius: 10px;
    background: #000;
    overflow: hidden;
  }

  .video-desc {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 140%;
  }

  // ======== Tablet/Desktop screen ========= //

  @media (min-width: $tablet) {
    max-width: 568px;
    padding: 32px 60px;

    .video {
      max-width: 448px;
      max-height: 205px;
      margin-top: 32px;
    }

    .video-desc {
      font-size: 16px;
      margin-top: 32px;
    }
  }
}
