.rewiews {
  background: $main-bg-cl url('images/backgroud_desktop.jpg');
  background-repeat: repeat-x;
  background-position: center top 98px;
  position: relative;

  &-container {
    padding-bottom: 228px;
  }
}
