// ======== Mobile screen ========= //
.button {
  color: $main-txt-cl;
  font-family: $main-font;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  border-color: transparent;
  border-radius: 10px;
  background-color: #f8d24e;

  padding: 12px 34px;

  transition: background-color $fast-anim;

  cursor: pointer;

  display: flex;
  gap: 4px;
  align-items: center;

  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    background-color: #0a8817;
    color: $secondary-txt-cl;
  }
  &:focus svg {
    fill: $secondary-txt-cl;
  }
  &:disabled {
    background-color: #ababab;
  }
  // ======== Tablet/Desktop screen ========= //

  @media (min-width: $tablet) {
    font-size: 14px;
    padding: 12px 36px;
  }
}
