.container {
  // outline: 1px solid red;
  // outline-offset: -1px;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  // tablet
  @media screen and (min-width: $tablet) {
    padding: 0 32px;
    width: 768px;
  }
  // desktop
  @media screen and (min-width: $desktop) {
    padding: 0 16px;
    width: 1200px;
  }
}
