.subtitle {
  color: $main-txt-cl;
  font-family: $main-font;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 22px;
  }

  @media (min-width: $desktop) {
    font-size: 30px;
    letter-spacing: 1.2px;
  }
}
