.title {
  color: $secondary-txt-cl;
  font-family: 'Seymour One', sans-serif;
  font-size: 30px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 34px;
    letter-spacing: 1.36px;
  }

  @media (min-width: $desktop) {
    font-size: 36px;
    letter-spacing: 2.16px;
  }
}
