.title {
  color: $secondary-txt-cl;
  font-family: 'Seymour One', sans-serif;
  font-size: 38px;
  line-height: normal;
  letter-spacing: 1.52px;
  text-transform: uppercase;
  width: 367px;
  text-wrap: balance;
  margin-bottom: 28px;
}
